body {
  background-color: #ffffff;
}

#app {
  margin-top: 16px;
  height: 100vh;
  background-color: #ffffff;
}

.footer-title {
  font-size: xx-large;
}

#vertical-adjustment {
  margin-top: 2em;
}

.bg-img { 
  background-color: #FFBA17;
}