@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto:wght@500;700;900&display=swap");
#Navbar_USP {
  background-color: #ffba17;
}
.nav-link-usp {
  font-weight: bold;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link-usp:hover {
  opacity: 1;
}

.nav-link-usp::before {
  transition: 500ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #000;
}

.nav-link-usp-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-usp-ltr:hover::before {
  width: 100%;
}
a.navbar-item:hover {
  color: #ffffff !important;
}
.navbar-link:hover {
  color: #ffffff !important;
}

.header {
  width: 100% !important;
}
.content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #040404;
  text-shadow: 2px 6px 4px rgba(159, 109, 0, 0.5);
}
.content h3 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: #040404;
  text-shadow: 2px 6px 4px rgba(159, 109, 0, 0.5);
}
.content h4 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: #ffba17;
  text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.1);
}
.content p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #262625;
}

.content b {
  color: #ffba17;
}
.content p b {
  font-weight: 700;
}
.content ul {
  list-style: none; /* Remove default bullets */
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #262625;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ffba17; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.references {
  background: #fffdfd;
  border: 2px dashed #000000;
  border-radius: 20px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #262625;
}
.is-sticky {
  margin-left: 15%;
  position: sticky;
  top: 100px;
  display: block;
}
.sub-navigation {
  padding: 2em 0;
  border-right: solid 3px #ffba17;
  max-width: 220px;
}
.sub-menu-content {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #262625;
}
.sub-nav-link-usp {
  /* font-weight: bold;
  font-size: 14px;
  font-family: "Poppins", sans-serif; */
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: transparent !important;
  padding: 20px 0px;
  margin: 0px 20px;
  display: flex;
  position: relative;
  opacity: 0.75;
}

.sub-nav-link-usp:hover {
  opacity: 1;
}

.sub-nav-link-usp::before {
  transition: 500ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #000;
}

.sub-nav-link-usp-ltr::before {
  width: 0%;
  bottom: 10px;
}

.sub-nav-link-usp-ltr:hover::before {
  width: 100%;
}

sub-menu-content {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #262625;
}
