body {
  background-color: #ffffff;
}

#app {
  margin-top: 16px;
  height: 100vh;
  background-color: #ffffff;
}

.footerTitle {
  font-size: xx-large;
}

#verticalAdjustment {
  margin-top: 2em;
}

.backgroundImg { 
  background-color: #FFBA17;
}