body {
  background-color: #ffffff;
}

#app {
  margin-top: 16px;
  height: 100vh;
  background-color: #ffffff;
}

.footer-title {
  font-size: xx-large;
}

#distance-from-title {
  margin-top: 2em;
}

#distance-from-top {
  margin-top: 2em;
}

#copyright-session {
  margin-top: 5em;
  margin-bottom: -1em;
}

#distance-from-previous {
  margin-left: 1em;
}

#right-movement {
  margin-left: 100em;
}

.bg-img-teste { 
  background-image: url(../img/mel.jpg) ;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-img { 
  background-color: #FFBA17;
}