@charset "utf-8";

// Set your brand colors
$bees: #ffba17;
$brown: #757763;
$beige-light: #d0d1cd;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $bees;
$link: $bees;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../../node_modules/bulma/bulma.sass";

// Import component
@import "../../node_modules/bulma-carousel/src/sass/index.sass";
